h1, h2, h4{
    margin: 0;
    color: white;
}
h3{
    margin-top: 0;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
    transition: 0.5s ease;
    
}

a:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.WeatherBanner{
    padding: 20px;
    border-radius: 25px;
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 100000;
    background-color: #A2BFFE;
    color: white;
    transform: translate(-50%, -10%);
}

.BannerHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.BannerHeader>h3:last-child:hover{
cursor: pointer;
}

.WeatherIcons{
    display: flex;
    gap: 20px;
}

.WeaterData{
    text-align: center;
}


.DetailsSection{
    background-color: #A2BFFE;
    height: 100vh;
    padding: 30px;
}

.WdetailData{
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

.WeatherDayData{
   background-color: #163372;
   color: white;
   text-align: center;
   margin-top: 30px;
   border-radius: 25px;
   min-width: 200px;
   padding: 15px;
}

.AboutSection {
    background-color: #163372;
    color: white;
    height: 100vh;
    padding: 30px;
}

.AboutSection>a>p{
    margin-bottom: 20px;
}

.AboutTechs {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    height: 300px;
}

.AboutTechs>img{
    width: 100px;
}

.AboutBtn{
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 5px 10px;
    border-radius: 25px;
    z-index: 10000000;
    background-color: #163372;
}
